:root{
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
}


header {
    text-align: center;
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2{
    font-weight: 200;
}


section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

#options {
    display: flex;
    justify-content: center;
  }

  p {
    text-align: center;
  }
  
  #options > * {
    margin-right: 20px;
  }
  
  #options > *:last-child {
    margin-right: 0;
  }

  input[type="checkbox"] {
    transform: scale(2.3);
    accent-color: #888;
  }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div.optionCheck {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input {
    font-size: 20px;
    width: 100%;
    max-width: 220px;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
  }
  
  .input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }
  
  .input:active {
    transform: scale(0.95);
  }
  
  .input:focus {
    border: 2px solid grey;
  }

  #outputDisplay {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 24px;
    width: 320px;
    padding: 25px;
    margin: 50px
  }

  button {
    background-color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    color: #111827;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #f9fafb;
  }
  
  button:focus {
    outline: 2px solid rgba(0,0,0,0.1);
    outline-offset: 2px;
  }
  
  button:focus-visible {
    -webkit-box-shadow: none;
    box-shadow: none;
  }